<div class="container mt-5">
    <table class="table table-borderless table-square">
      <tbody>
        <tr *ngFor="let item of operations" class="transparent-row">
          <td class="text-center" style="background-color: transparent;">
            <div class="square">
              <strong class="bigger-text">{{ item.deletedCount }}</strong>
              <p>Deleted Count</p>
            </div>
          </td>
          <td class="text-center" style="background-color: transparent;">
            <div class="square">
              <strong class="bigger-text">{{ item.updatedCount }}</strong>
              <p>Updated Count</p>
            </div>
          </td>
          <td class="text-center" style="background-color: transparent;">
            <div class="square">
              <strong class="bigger-text">{{ item.createdCount }}</strong>
              <p>Created Count</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  